.custom-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 20px; /* Ovalni robovi */
  background-color: var(--background-color);
  border: 0.5px solid #ffb3d9; /* Tanjši roza neon border */
  box-shadow:
    0 0 1px #ff69b4,
    0 0 9px rgba(255, 105, 180, 0.5); /* Manj intenzivno */
  max-width: 400px; /* Omejena širina za prelom na dve vrstici */
  font-size: 19px; /* Večja pisava */
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  text-align: justify;
}
