<div class="product-card">
  <img [src]="product.imgUrl" alt="Slika kviza" class="product-image" />

  <div class="product-content">
    <h3 class="product-title">{{ product.title | translate }}</h3>
    <p class="product-subtitle">{{ product.shortDesc | translate }}</p>

    <ng-container *ngIf="product.onDiscount; else regularPrice">
      <div class="card-discount-line">
        <span class="card-original-price">{{ product.price }} €</span>
        <span class="card-discount-price">{{ product.discountPrice }} €</span>
        <span class="card-discount-percent"
          >-{{ product.discountPercentage }} %</span
        >
      </div>
    </ng-container>
    <ng-template #regularPrice>
      <p class="product-price">{{ product.price }} €</p>
    </ng-template>
  </div>
</div>
