:host {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: #fff;
  color: black;
  border-radius: 8px;
  width: 90%;
  max-width: 1000px;
  height: 70%;
  max-height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  padding-bottom: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.modal-body {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  overflow-y: auto;
  box-shadow: none;
}

.modal-gallery {
  width: 40%;
  height: 100%;
  flex-shrink: 0;
}

#carouselId .carousel-item {
  transition-duration: 0.3s;
}

#carouselId .carousel-control-prev,
#carouselId .carousel-control-next {
  top: 35%;
  bottom: 35%;
}

#carouselId .carousel-control-prev-icon,
#carouselId .carousel-control-next-icon {
  opacity: 0.5;
  width: 3rem;
  height: 3rem;
}

#carouselId .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c1421'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

#carouselId .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c1421'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#carouselId .carousel-control-prev:hover .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffd62e'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

#carouselId .carousel-control-next:hover .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffd62e'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.modal-gallery img,
.modal-gallery video {
  border-radius: 0 !important;
}

.modal-content {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 30px;
  text-align: justify;
}

.modal-content h2 {
  margin-bottom: 30px;
  font-size: 40px;
  font-family: "DM Serif Text", serif;
  font-weight: 40;
  font-style: normal;
  line-height: 1;
}

.long-desc {
  flex: 1;
  overflow-y: auto;
  margin: 0;
  padding-right: 10px;
}

.modal-bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding-top: 1rem;
  border-top: 1px solid #ded9d3;
  flex-shrink: 0;
}

.discount-line {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.price {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.discount-price {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.original-price {
  text-decoration: line-through;
  color: grey;
  opacity: 0.7;
  font-size: 20px;
}

.discount-percent {
  color: #a00;
  font-size: 20px;
  font-weight: 400;
}

.buy-btn {
  background: #fcbf49;
  border: none;
  padding: 0.5rem 1.5rem;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  color: black !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  :host {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
  }

  .modal-body {
    flex-direction: column;
    padding-inline: 0;
    gap: 1rem;
  }

  .modal-gallery {
    width: 100%;
    height: 50%;
    max-width: 100%;
  }

  .modal-content {
    min-width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 18px;
    overflow: visible;
  }

  .modal-content h2 {
    font-size: 28px;
    margin-top: 0;
  }

  .long-desc {
    overflow: visible;
    flex: unset;
    padding-right: 0;
  }

  .modal-bottom {
    font-size: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
