<div class="modal-header">
  <button class="close-btn" (click)="closeModal()">
    <i class="bi bi-x-lg"></i>
  </button>
</div>

<div class="modal-body">
  <div id="carouselId" class="modal-gallery carousel slide">
    <div class="carousel-inner h-100">
      @for (media of product.gallery; track media; let first = $first) {
        <div class="carousel-item h-100" [class.active]="first">
          @if (media.type === "image") {
            <img
              [src]="media.src"
              class="h-100 w-100 object-fit-contain"
              alt="Product image"
            />
          } @else if (media.type === "video") {
            <video
              [src]="media.src"
              controls
              preload="metadata"
              class="h-100 w-100 object-fit-contain"
            ></video>
          }
        </div>
      }
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselId"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselId"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>

  <div class="modal-content">
    <h2>{{ product.title | translate }}</h2>
    <div class="long-desc">
      @if (product.isDescArray) {
        @for (textPart of product.longDescArray; track textPart) {
          <span>
            @if (textPart.isBold) {
              <strong>{{ textPart.text | translate }}</strong>
            } @else {
              {{ textPart.text | translate }}
            }
            <!-- Dodaj presledek ali prelom -->
            @if (textPart.newLine) {
              <br /><br />
            } @else {
              &nbsp;
            }
          </span>
        }
      } @else {
        @for (paragraph of product.longDesc.split("\n\n"); track paragraph) {
          <p>
            {{ paragraph }}
          </p>
        }
      }
    </div>

    <div class="modal-bottom">
      @if (product.onDiscount) {
        <div class="discount-line">
          <span class="original-price">{{ product.price }} €</span>
          <span class="discount-price">{{ product.discountPrice }} €</span>
          <span class="discount-percent">
            -{{ product.discountPercentage }}%</span
          >
        </div>
      } @else {
        <span class="price">{{ product.price }} €</span>
      }

      <button class="buy-btn" (click)="goToStripeLink()">
        {{ "store.buy" | translate }}
      </button>
    </div>
  </div>
</div>
