<div class="modal-body">
  <button class="close-btn" (click)="closeModal()">
    <i class="bi bi-x-lg"></i>
  </button>

  <div class="modal-gallery">
    <swiper-container
      navigation="true"
      pagination="true"
      loop="true"
      style="width: 100%; height: 100%"
    >
      @for (media of product.gallery; track media) {
        <swiper-slide>
          @if (media.type === "image") {
            <img
              [src]="media.src"
              alt="Product image"
              style="width: 100%; border-radius: 8px"
            />
          }
          @if (media.type === "video") {
            <video
              [src]="media.src"
              controls
              preload="metadata"
              style="width: 100%; border-radius: 8px"
            ></video>
          }
        </swiper-slide>
      }
    </swiper-container>
  </div>

  <div class="modal-content">
    <h2>{{ product.title | translate }}</h2>
    <div class="long-desc">
      @if (product.isDescArray) {
        @for (textPart of product.longDescArray; track textPart) {
          <span>
            @if (textPart.isBold) {
              <strong>{{ textPart.text | translate }}</strong>
            } @else {
              {{ textPart.text | translate }}
            }
            <!-- Dodaj presledek ali prelom -->
            @if (textPart.newLine) {
              <br /><br />
            } @else {
              &nbsp;
            }
          </span>
        }
      } @else {
        @for (paragraph of product.longDesc.split("\n\n"); track paragraph) {
          <p>
            {{ paragraph }}
          </p>
        }
      }
    </div>

    <div class="modal-bottom">
      @if (product.onDiscount) {
        <div class="discount-line">
          <span class="original-price">{{ product.price }} €</span>
          <span class="discount-price">{{ product.discountPrice }} €</span>
          <span class="discount-percent">
            -{{ product.discountPercentage }}%</span
          >
        </div>
      } @else {
        <span class="price">{{ product.price }} €</span>
      }

      <button class="buy-btn" (click)="goToStripeLink()">
        {{ "store.buy" | translate }}
      </button>
    </div>
  </div>
</div>
